@import '../Vars.scss';

.services-details {
  margin-top: 50px;
  width: 100%;
  height: auto;
  min-height: 500px;
}

.first-details,
.second-details {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
}

.detail-text-container {
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  padding: 35px 20px 35px 20px;
}

.detail-text-container p {
  font-family: $sarabun-font;
  font-weight: $text-wght;
  text-align: justify;
  font-size: 20px;
}

.detail-text-container p strong {
  color: $orange-color;
}

.details-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-img {
  width: 100%;
}

.second-details .detail-text-container {
  order: 2;
}
.second-details .details-photo-container {
  order: 1;
}

@media only screen and (min-width: 600px) {
  .services-details {
    min-height: 350px;
  }

  .first-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .second-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  .detail-text-container {
    min-height: 200px;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .details-img {
    width: 90%;
  }

  .second-details .detail-text-container {
    order: 1;
  }
  .second-details .details-photo-container {
    order: 2;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1030px) {
}

@media only screen and (min-width: 1200px) {
  .first-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
  }

  .second-details {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
  }

  .detail-text-container {
    min-height: 200px;
    padding: 100px;
  }

  .details-img {
    width: 90%;
    max-width: 600px;
  }

  .second-details .detail-text-container {
    order: 1;
  }
  .second-details .details-photo-container {
    order: 2;
  }
  .services-details {
    width: 100%;
    height: 500px;
  }
}

@media only screen and (min-width: 1400px) {
  .detail-text-container p {
    font-size: 23px;
  }
}

@media only screen and (min-width: 1600px) {
  .detail-text-container {
    padding: 150px;
  }

  .detail-text-container p {
    font-size: 25px;
  }
}
