@import './Vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  background-color: $white-general-color;
  overflow-x: hidden;
}

.link-clear {
  text-decoration: none;
}

.button-primary {
  background-color: $orange-color;
  text-decoration: none;
  color: $white-general-color;
  font-family: $roboto-font;
  font-weight: $button-wght;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: 0;
  width: 250px !important;
  cursor: pointer;
}

.button-primary:active {
  background-color: #b86800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 600px) {
  .button-primary {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .button-primary {
    font-size: 20px;
  }
}
