@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sarabun:wght@500;600&display=swap');

/*
    Buttons: roboto 400
    Titles: roboto 700
    Text: sarabun 500
*/

//Fonts
$roboto-font: 'Roboto', sans-serif;
$sarabun-font: 'Sarabun', sans-serif;

//Weight
$button-wght: 400;
$text-wght: 500;
$title-wght: 700;

//Colors
$orange-color: #f48a00;
$white-general-color: #fff;
$gray-background-color: #2e2a29;
$gray-text-color: #5d5d5d;
