@import '../Vars.scss';

.process {
  width: 100%;
  height: 800px;
}

.process p {
  color: transparent;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1020px) and (max-width: 1030px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1600px) {
}
