@import '../Vars.scss';

.process {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-img {
  width: 95%;
}

@media only screen and (min-width: 600px) {
  .process {
    height: 700px;
  }

  .process-img {
    width: 80%;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1030px) {
  .process {
    height: 700px;
  }

  .process-img {
    width: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  .process {
    height: 700px;
  }

  .process-img {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .process-img {
    width: 45%;
  }
}

@media only screen and (min-width: 1600px) {
  .process {
    height: 700px;
  }

  .process-img {
    width: 35%;
  }
}
